.tables-container {
  padding-inline: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;

  .table-title-container {
    // // border: 1px solid;
    width: 200%;
    text-align: center;
    margin-top: 2rem;
  }

  td.currency {
    text-align: end;
  }
}
@media screen and (max-width: 820px) {
  .tables-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 420px) {
  .tables-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
