.tables-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  table {
    width: clamp(200px, 33%, 400px);
  }

  .table-title-container {
    // border: 1px solid;
    width: 200%;
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  .tables-container {
    flex-direction: row;
  }
}
